@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0f;
  color: #f1f5f9;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #111118;
}
::-webkit-scrollbar-thumb {
  background: #2d2d3e;
  border-radius: 3px;
}
